.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;

  height: 44px;
  border: 1px solid var(--color-accent);
  border-radius: 12px;

  color: #ffffff;
  background-color: var(--color-accent);

  transition: background-color 250ms ease;
}

.button:hover,
.button:focus {
  background-color: var(--color-hover);
}
