/* RESET */

a {
  color: currentColor;
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p:last-child,
li:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BASE */

:root {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f2f4f7;
  --color-bg-tertiary: #f7f7f7;

  --color-text-primary: #101828;
  --color-text-secondary: #8d929a;
  --color-text-inverse: #ffffff;
  --color-accent: #3470ff;
  --color-hover: #0b44cd;
  --color-border: #dadde1;
}

body {
  font-family: var(--font-manrope), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

.container {
  width: 1440px;
  padding: 0 120px;
  margin: 0 auto;
}
