.customSelect {
  position: relative;
}

.customSelectTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  padding: 12px 16px;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;

  background-color: var(--color-bg-tertiary);
}

.customSelectOptionsContainer {
  position: absolute;
  border: 1px solid var(--color-bg-tertiary);
  border-radius: 12px;
  width: 204px;
  margin-top: 4px;
  overflow: hidden;
  opacity: 0;
  background-color: var(--color-bg-primary);
}

.customSelectOptions {
  position: absolute;
  top: -4px;
  left: 0;
  width: calc(100% - 8px); /* scrollbar right gap */
  border-radius: 12px;
  height: 100%;
  overflow-y: auto;
  padding: 10px 0;
  margin: 0;
  margin-top: 4px;
  background-clip: content-box;
  opacity: 0;
  pointer-events: auto;
  /* ? */
  /* transform: translateY(-10px); */
  transition:
    opacity 250ms ease,
    translateY 250ms ease;
}

.customSelect.open .customSelectOptions {
  opacity: 1;
  pointer-events: auto;
  /* transform: translateY(0); */
}

.customSelect.open .customSelectOptionsContainer {
  opacity: 1;
}

.arrowIcon {
  fill: var(--color-text-primary);
  width: 16px;
  height: 16px;

  transform: rotate();
  transition: transform 250ms ease;
}

.customSelect.open .arrowIcon {
  transform: rotate(180deg);
}

.customSelectItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  padding: 4px 18px;
  cursor: pointer;
  user-select: none;

  color: var(--color-text-secondary);

  transition: background-color 250ms ease;
}

.selected {
  color: var(--color-text-primary);
}

.customSelectItem:hover {
  background-color: var(--color-bg-tertiary);
}

.customSelectItem.selected {
  color: var(--color-text-primary);
}

.customSelectOptions::-webkit-scrollbar {
  width: 8px;
}

.customSelectOptions::-webkit-scrollbar-track {
  margin: 12px 0;
  /* margin-right: 8px; */
}

.customSelectOptions::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 10px;
}
