.link {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0 auto;

  border: 1px solid var(--color-accent);
  border-radius: 12px;

  color: #ffffff;
  background-color: var(--color-accent);

  transition:
    background-color 250ms ease,
    border-color 250ms ease;
}

.link:hover,
.link:focus {
  background-color: var(--color-hover);
  border: 1px solid var(--color-hover);
}
